/* dependencies */
@import "@fortawesome/fontawesome-free/css/all.css";
@import "~bootstrap/scss/bootstrap";

/* local imports */
@import "./styles/variables";
@import "./styles/fonts";
@import "./styles/base";
.noimgcard {
  font-size: xx-large;
  margin-top: 40%;
  color: black;
}

.mb-3 {
  position: fixed;
  top: 0px;
  left: 39%;
  z-index: 1;
}

.detail-hidden {
  display: none;
}

.recent-hidden {
  display: none;
}
