* {
  box-sizing: border-box;
}
html,
body {
  padding: 0;
  margin: 0;
  min-height: 100%;
}
body {
  background-color: black;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  font-family: "Roboto";
  color: gray;
  text-align: center;
}
h1 {
  color: $primary-color;
}
